.container {
  padding: 40px;
}

.image-slide {
  width: 400px;
  height: 400px;
  float: left;
  margin-right: 20px;
}
.slick-slide img {
  margin: auto;
  width: 400px;
  float: left;
  margin-left: 30px;
}

.carousel-item {
  margin: 30px 0;
  width: 1500px;
  height: 450px;
  float: left;
  transition: none;
}
.carousel-item img {
  width: 50% !important;
  height: 60%;
  float: left;
  margin-left: 100px;
}
.card {
  width: 29.5%;
  float: left;
  margin-left: 40px;
  height: 100%;
}
.card-header {
  background: #105740;
  color: #ffffff;
}
.card-header span {
  text-transform: uppercase;
}

.carousel-control-prev span,
.carousel-control-next span {
  color: black;
  overflow: auto;
  width: 90px;
  height: 40px;
  background: green;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-control-prev {
  margin-left: -28px;
}

.carousel-control-next {
  float: right !important;
}
.carousel-control-prev,
.carousel-control-next {
  position: relative;
  float: left;
  opacity: 1;
}
input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 300px;
  height: 2px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 5px;
  width: 15%;
  border-radius: 0%;
  background: #000;
  margin-top: -4px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
.carousel-container-with-scrollbar {
  padding-left: 100px;
  padding-bottom: 20px;
  overflow: visible !important;
}
.custom-slider {
  position: absolute;
  bottom: -20px;
  width: 100%;
  padding: 0 20px;
}
.custom-slider__input {
  width: 100%;
}
.image-item {
  padding: 20px 0 20px 20px;
}
